.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.section-heading {
    position: relative;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    margin: 2em 0;

    &::before {
        display: block;
        content: "";
        height: 3px;
        width: 150px;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        background-color: $davys-grey;
    }
}


@keyframes navItemsAnimation {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0);
    }
}

.nav-items-animation {
    animation: navItemsAnimation 1s both;
}

.cta {
    padding: .7em 2em;
    font-family: 'Overpass';
    font-weight: 700;
    background-color: $light-gray;
    border: 1px solid $onyx;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s, color .3s;

    &:hover {
        background-color: $eerie-black;
        color: $cultured;
    }
}

hr {
    width: 99vw;
}

textarea {
    resize: vertical;
}

.group {
    position: relative;
    margin: 2em auto;
}

input,
textarea {
    background: none;
    color: $eerie-black;
    font-size: 1.8rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $eerie-black;

    &:focus {
        outline: none;
    }

    &:focus~label,
    &:valid~label {
        top: -14px;
        font-size: 1.2rem;
        color: $onyx;
    }

    &:focus~.bar:before {
        width: 100%;
    }
}


label {
    color: $onyx;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: .3s ease all;
}

.bar {
    position: relative;
    display: block;
    width: 100%;

    &:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: $onyx;
        transition: .3s ease all;
        left: 0%;
    }
}

.casual-link {
    position: relative;
    color: $eerie-black;
    transition: .3s;
    text-decoration: none;
    display: inline-block;


    &::before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $onyx;
        transition: height .3s;
        z-index: -1;
    }

    &:hover::before {
        height: 100%;
    }

    &:hover {
        color: $cultured;
    }
}