@import '_colors.scss';
@import '_components.scss';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 200vh;
}

img {
    max-width: 100%;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 1em;
    z-index: 1;
    background-color: $gainsboro;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            width: 50%;
        }

        &-burger {
            box-sizing: content-box;
            align-self: flex-end;
            padding: 1em;
            z-index: 999;
            width: 50px;

            &-icon {

                &::before,
                &::after,
                & div {
                    background-color: $onyx;
                    box-shadow: 0 0 5px $black-shadow;
                    content: "";
                    display: block;
                    height: 6px;
                    border-radius: 3px;
                    margin: 7px 0;
                    transition: 0.5s;
                }

                &.active:before {
                    transform: translateY(12px) rotate(135deg);
                }

                &.active:after {
                    transform: translateY(-12px) rotate(-135deg);
                }

                &.active div {
                    transform: scale(0);
                }

            }
        }
    }
}

.header {
    position: relative;
    top: 78px;
    min-height: 60vh;
    background-image: url(../../dist/img/header-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $cultured;
    font-family: 'Overpass';

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black-shadow;
    }

    &__text {
        position: absolute;
        top: 25%;
        padding: 1em;

        &-title {
            font-size: 3rem;
        }

        &-paragraph {
            font-size: 1.8rem;
            font-weight: 300;
        }
    }
}