@import '_colors.scss';
@import '_components.scss';

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    min-height: 200vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $onyx
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 1em;
    height: 78px;
    z-index: 2;
    background-color: $gainsboro;

    &__box {
        display: flex;
        justify-content: space-between;
        align-content: center;

        height: 78px;

        &-logo {
            display: block;
            width: 50%;
            object-fit: contain;
        }

        &-burger {
            box-sizing: content-box;
            align-self: flex-end;
            padding: 1em;
            z-index: 999;
            width: 50px;

            &-icon {

                &::before,
                &::after,
                & div {
                    background-color: $onyx;
                    box-shadow: 0 0 5px $black-shadow;
                    content: "";
                    display: block;
                    height: 6px;
                    border-radius: 3px;
                    margin: 7px 0;
                    transition: 0.5s;
                }

                &.active:before {
                    transform: translateY(12px) rotate(135deg);
                }

                &.active:after {
                    transform: translateY(-12px) rotate(-135deg);
                }

                &.active div {
                    transform: scale(0);
                }

            }
        }

        &-desktop {
            display: none;
            width: 40%;

            &-box {
                height: 100%;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;

                &-item {

                    & a {
                        display: block;
                        padding: 1em 2em;
                        text-decoration: none;
                        color: $onyx;
                        font-weight: bold;
                        border-radius: 5px;
                        text-transform: uppercase;
                        white-space: nowrap;
                        transition: background-color .3s, color .3s;

                        &:hover {
                            background-color: $onyx;
                            color: $cultured;
                        }
                    }

                }
            }
        }
    }
}

.menu-mobile {
    position: fixed;
    top: 78px;
    z-index: 1;
    width: 100%;
    padding: 1em 2em;
    background-color: $cultured-2;
    transform: translateY(-100%);
    transition: transform 1s;

    &__box {
        list-style: none;
        padding: 1em;

        &-item {
            padding: 1em;

            & a {
                text-decoration: none;
                color: $davys-grey;
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
    }

    &.active {
        transform: translateY(0);
    }
}


.header {
    position: relative;
    top: 78px;
    height: 72vh;
    background-image: url(../../dist/img/header-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $cultured;
    font-family: 'Overpass';
    margin-bottom: calc(2em + 78px);

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black-shadow;
    }

    &__text {
        position: absolute;
        top: 25%;
        padding: 1em;

        &-title {
            font-size: 3rem;
        }

        &-paragraph {
            font-size: 1.8rem;
            font-weight: 300;
        }
    }
}

.intro {

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        &-img {
            margin-top: 1em;
        }
    }
}

.baner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 200px;
    background-image: url(../../dist/img/baner-medium.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 4em 0;

    &__box {
        padding: 3em;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: 'Overpass';
        font-weight: 700;
        color: $cultured;
        border: 1px solid $cultured
    }
}

.ofert {
    padding: 1em;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-text {

            &--list {
                padding-left: 3em;
            }

            &--button {
                // text-align: center;
                // width: 50%;
                display: inline-block;
                margin: 1em auto;
            }
        }

        &-img {
            margin-top: 1em;
        }
    }
}

.about {
    padding: 1em;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-img {
            margin-top: 1em;
        }
    }
}

.contact {
    padding: 1em;

    &__box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

        &-form {
            width: 100%;

            &--btn {
                width: 30%;
                margin: 0 auto;
            }

            &--info {
                font-size: 1.2rem;
            }
        }

        &-img {
            margin-top: 1em;
            width: 100%;
        }
    }

}

.footer {
    padding: 1em;
    margin-top: 3em;
    background-color: $onyx;
    color: $cultured;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo {
            padding-top: 2em;
        }

        &-socials {
            padding: 1em;
            font-size: 3rem;

            & a {
                color: $cultured
            }

            &-icon {
                margin: 0 1em;
            }
        }

        &-copy {
            padding: 1em;
            text-align: center;
        }

    }
}


// -----------------------------------
//     MEDIA 

@media (min-width:576px) {
    .header {
        &__text {
            left: 5%;

            &-title {
                font-size: 4rem;
            }

            &-paragraph {
                font-size: 2rem;
            }
        }
    }
}


@media (min-width:768px) {
    .section-heading {
        font-size: 2.6rem;
    }

    .header {
        &__text {
            left: 10%;

            &-title {
                font-size: 5rem;
            }

            &-paragraph {
                font-size: 2.4rem;
            }
        }
    }

    .navbar__box {

        &-logo {
            width: 40%;
        }
    }

    .intro__box {
        flex-direction: row;
        align-items: center;

        &-text {
            width: 50%;
            padding-right: 2em;
            font-size: 1.8rem;
        }

        &-img {
            width: 50%;
        }
    }

    .baner__box {
        padding: 3em 8em;
        font-size: 2rem;
    }

    .ofert__box {
        flex-direction: row;
        align-items: center;

        &-text {
            width: 50%;
            padding-left: 2em;
            font-size: 1.8rem;
            order: 1;
        }

        &-img {
            width: 50%;
            order: 0;
        }
    }

    .about__box {
        flex-direction: row;
        align-items: center;

        &-text {
            width: 50%;
            font-size: 1.8rem;
        }

        &-img {
            width: 50%;
            padding-left: 1em;
        }
    }

    .contact__box {
        flex-direction: row;
        align-items: center;

        &-form {
            padding: 2em;
            width: 50%;
            order: 1;

            &--info {
                font-size: 1.4rem;
            }
        }

        &-img {
            width: 50%;
            padding-right: 1em;
            order: 0
        }
    }

}

@media (min-width:992px) {
    .section-heading {
        font-size: 2.8rem;
    }

    .header {
        &__text {

            &-title {
                font-size: 5.5rem;
            }

            &-paragraph {
                font-size: 2.6rem;
            }
        }
    }

    .menu-mobile {
        display: none;
    }

    .navbar__box {
        &-logo {
            width: 30%;
        }

        &-burger {
            display: none;
        }

        &-desktop {
            display: block;
        }
    }

    .header {
        background-image: url('../../dist/img/header-medium.jpg');
    }


}

@media (min-width:1200px) {

    .navbar__box {
        &-logo {
            width: 25%;
        }
    }


}